@font-face {
    font-family: 'Daum';
    src: url('../fonts/Daum.ttf') format('truetype');
}

nav {
    align-items: center;
    background-color: gray;
    border-radius: 10px;
    display: flex;
    font-family: Verdana;
    font-size: 18px;
    justify-content: space-between;
    margin: auto;
    margin-top: 1em;
    width: 80%;
}

#left-nav a, #right-nav {
    color: white;
    display: flex;
    padding: 10px;
    text-decoration: none;
}

#left-nav a{
    margin-left: 1em;
}

#left-nav p {
    padding-top: 1em;
    margin: 0;
}

#right-nav {
    gap: 20px;
    margin-right: 1em;
}

#right-nav a {
    color: white;
    text-decoration: none;
    font-size: 1.2em;
    border-radius: 8px;
    padding: 0 5px
}

#right-nav a:hover {
    background-color: darkgray; 
}

#Title {
    margin: 0;   
}

#contact {
    margin-left: 1em;
}