{% block head %}
    <link rel="stylesheet" href="/static/css/nav-bar.css">
{% endblock %}
{% block body %}
    <nav>
        <div id="left-nav">
            <a href="#"><i><h1 id="Title">&#60&#60Dev&#62&#62;</h1></i></a>
            <div id="left-nav-accessory-title">
                <h2 id="Subtitle-0">portfolio</h2><p id="Subtitle-1">using <strong id="Flask-txt">Flask</strong></p>
            </div>
        </div>
        <div id="right-nav">
            <a href="/about" id="about">About Me</a>
            <a href="/projects" id="projects">Projects</a>
            <a href="/contact" id="contact"><strong>Contact</strong></a>
        </div>
    </nav>
{% endblock %}