{% block head %}
    <link rel="stylesheet" href="/static/css/nav-bar.css">
{% endblock %}
{% block body %}
    <nav>
        <div id="left-nav">
            <a href="#"><h1 id="Title">Portfolio</h1><label style="font-size: xx-large;">|</label><p>using <strong>Flask</strong></p></a>
        </div>
        <div id="right-nav">
            <a href="/about" id="about">About Me</a>
            <a href="/projects" id="projects">Projects</a>
            <a href="/contact" id="contact"><strong>Contact</strong></a>
        </div>
    </nav>
{% endblock %}